 <!-- 
 File Name: header.ejs
 Author: Amandeep Aujla
 Website Name: https://expressportfolio-aaujla.herokuapp.com/ /
 File Description: Header File.
-->
 
 
 <!--Navigation -->
    <div class="outerboxnav">
        <ul class="topnav">
        <li><a href="/">Home</a><li>
        <li><a href="/projects">Projects</a><li>
        <li><a href="/contactMe">Contact Me</a><li>
        <li><a href="/Login">Login</a></li>
        <li class="icon">
            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
          </li>
        </ul>
        </div>
